
@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Averia Gruesa Libre', cursive;
}

body{
    background-image: url(../img/Vampire3.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    user-select: none;
}

body::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.tamanho {
    width: 100%;
    height: 100vh;
    display: flex;
}

.kyo {
    align-items: center;
    justify-content: center;
}


.nome-kyo {
    font-size: 3em;
    text-shadow: 2px 2px 20px #c5365c;
    text-transform: uppercase;
}

.container-kyo {
    position: relative;
    color: #c5365c;
    width: 60%;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

.descricao-kyo {
    font-size: 1.2rem;
    font-weight: 800;
    padding: 1.5rem;
    text-align: center;
}

.descricao-kyo strong {
    color: white;
}

.botao-kyo-princ {
    display: flex;
    gap: 2rem;
}

.botao-kyo {
    border: 3px solid #c5365c;
    background: none;
    padding: 0.7rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.botao-kyo:hover {
    transform: scale(1.1);
    background-color:#c5365c;
    border: 3px solid #ffffff
}

.kyo-imagem-botao {
    width: 40px;
    height: 40px;
}

.alerta-kyo {
    color: rgb(247, 243, 3);
}

.titulo-kyo {
    margin-top: 4rem;
    font-size: 2rem;
}

.desenhos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.demonstraçoes {
    width: 800px;
    height: 800px;
    border-radius: 20px;
    opacity: 0.5;
    filter: grayscale(100%)hue-rotate(300deg);
    transition: 1s;
}

.demonstraçoes:hover {
    opacity: 1;
    filter: none;
    transform: scale(1.1);
}

.demonstracoes-desenho {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    padding: 20px;
    flex-wrap: wrap;

}


.tamanho2 {
    padding-top: 5rem;
    color: #c5365c;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: first baseline;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.white {
    color: white;
}


.ibuki {
    width: 900px;
    height: 1000px;
}

.nsfw {
    width: 800px;
    height: 1100px;
}


.paypal {
    width: 80px;
    height: 80px;
}

.redc {
    color: #c5365c;
}


.espaço-botao {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 2rem;
}

.termos-body {
    position: relative;
}

.termos {
    position: relative;
    color: #c5365c;
    padding: 10%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

.termos-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 1px 1px 10px #c5365c;
}


.botao {
    border: none;
    width: 400px;
    height: 50px;
    background-color: transparent;
    color: #c5365c;
    border: 2px solid #c5365c;
    font-size: 1.5rem;
    transition: 0.5s;
    position: static;
}

.botao:hover {
    height: 60px;
    font-size: 1.6rem;
    background-color: #c5365c;
    color: #fc9eb7;
}


footer {
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 10px;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 765px) {

    .container-kyo {
        width: 100%;
        height: 120vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5rem 0 0 0;
        justify-content: center;
    }

    .demonstraçoes {
        width: 500px;
        height: 500px;
    }

    .ibuki {
        width: 500px;
        height: 700px;
    }

    .nsfw {
        width: 500px;
        height: 700px;
    }
    


}

@media screen and (max-width: 655px) {

    .container-kyo {
        width: 90%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5rem 0 0 0;
        justify-content: center;
    }
    
    .demonstracoes-desenho {
        flex-direction: column;
    }

    .titulo-kyo {
        font-size: 1rem;
    }

    .demonstraçoes {
        width: 300px;
        height: 300px;
        border-radius: 20px;
        opacity: 0.5;
        filter: grayscale(100%)hue-rotate(300deg);
        transition: 1s;
    }

    .ibuki {
        width: 320px;
        height: 500px;
    }

    .botao-kyo-princ {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .botao {
        font-size: 1rem;
    }

    .botao:hover {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 550px) {

    .botao {
        width: 300px;
        height: 50px;
        font-size: 1rem;
    }

    .container-kyo {
        padding: 8rem 0 0 0;
    }

    .demonstraçoes {
        width: 300px;
        height: 330px;
    }

    .ibuki {
        width: 300px;
        height: 450px;
    }

    .termos-container {
        gap: 30px;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        text-shadow: 1px 1px 10px #c5365c;
    }

    footer {
        font-size: 8px;
    }

    .nsfw {
        width: 300px;
        height: 450px;
    }

    .desenhos {
        padding-top: 8rem;
    }


}

@media screen and (max-width: 550px) {

    .nome-kyo {
        text-align: center;
        font-size: 2rem;
    }

    .termos {
        padding: 0;
        text-align: center;
       }

    .espaço-botao {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        height: 4rem;
        padding-bottom: 2rem;
    }

}

@media screen and (max-width: 349px) {

    .container-kyo {
        padding: 0;
    }

    .botao {
        width: 220px;
        height: 50px;
        font-size: 0.8rem;
    }

    .botao:hover {
        font-size: 1rem;
    }

   .demonstraçoes {
    width: 250px;
    height: 250px;
   }

   .ibuki {
    height: 350px;
   }

   .nsfw {
    height: 380px;
   }

   .tamanho {
    padding-top: 6rem;
   }

   .termos {
    padding: 0;
    text-align: center;
   }

   .botao-kyo-princ {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

    
.espaço-botao {
    padding-bottom: 2rem;
}

}
