.termos {
    position: relative;
    color: #c5365c;
    padding: 10%;
    display: flex;
}

.termos-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    text-shadow: 1px 1px 10px #c5365c;
}
